<h1>Articles</h1>

<%= link_to 'new articles', articles_new_path %>,

<br>


<p>Все articles</p>

<%- @articles.each do |article| %>

  <%= link_to article.name, article_show_path(article.url) %>

  <br>



<%- end %>

<%= link_to 'Удалить все',   article_delete_all_path, method: :delete, data: { confirm: 'Delete?'}%>