<h1 class="text-center">Добавить статью</h1>

<%= render 'articles/form' %>

<%#= form_for @article , url: article_path do |f| %>
<!--  <p> name <%#= f.text_field :name %><br /></p>-->
<!--  <p> url <%#= f.text_field :url %><br /></p>-->
<!--  <p> title<%#= f.text_field :text %><br /></p>-->






  <%#= f.submit "save"%>
<%# end %>